/* Universal CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.text-primary{
    color: #727272;
    font-size: 16px;
    margin-bottom: 20px;
}

.primary-heading{

}

.btn-primary{
    background: #FF900E;
    color: #FFFFFF;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

/* header part style */
.header{
    background-color: #FFF4E7;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

.nav>.brand-name{
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.menu-container{
    display: flex;
    flex-flow: row wrap;
}

.menu-container a{
    display: block;
    color: #424242;
    padding: 15px 20px;
}

/* Site Info & Banner Styles */
.site-info-container{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;  
    row-gap: 50px;
    padding:  80px 150px 50px 150px;
}

.site-info{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.site-info> .site-heading{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 15px;
}


/* Main Area Styles */

/* Team & Quick List Features Section Style */

.team-info-container{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 60px 200px 100px 200px;
}

.gallery-container, .quick-list-item{
    flex: 1;
}

.gallery-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
}

.quick-list-item{
    margin-top: 160px;
}

.quick-list-item > .quick-list-title{
    font-weight: 700px;
    font-size: 45px;
    margin-bottom: 20px;
}

.quick-list-title .quick-list-text{
    font-weight: 500;
    color: #727272;
}

.quick-list-title .features-text{
    color: #FF900E;
}



/* Responsive Layout Styles */
@media screen and (max-width:576px) {
    /* Universal style responsive */
    .btn-primary{
        padding: 10px;
        font-size: 18px;
    }

    .text-primary{
        margin-bottom: 10px;
    }
    /* Header Responsive Style */
    .nav{
        flex-flow: column wrap;
        text-align: center; 
        padding: 0;
    }

    .nav .brand-name{
        margin-top: 10px;
    }

    .menu-container{
        flex-flow: column wrap;
    }

    .menu-container a { 
        padding: 10px;
        border-top: 1px solid rgba(83, 75, 75, 0.3); 
    }

    .menu-container li:first-child a{
        border-top: none; 
    }

    /* Site info & Banner Responsive */
    .site-info-container{
        row-gap: 15px;
        padding: 25px 10px;
    }
    
    .site-info{
        width: 100%;
    }

    .site-info> .site-heading{
        font-size: 40px;
        margin-bottom: 10px;
    }

    /* Main Area Responsive Styles */

    /* Team & Quick List Features Section Styles */
    .team-info-container{
        flex-direction: column;
        gap:10px;
        padding: 20px 10px;
    }

    .gallery-container{
        gap: 5px;
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-item{
        margin-top: 15px;
        text-align: center;
    }        

    .quick-list-item > .quick-list-title{
        font-size: 30px;
        margin-bottom: 10px;
    }
        
}
